DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_ENGINE=sqlite3
POSTGRES_DB=nkap
POSTGRES_USER=nkap
POSTGRES_PASSWORD=nkap
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
MOMO_WEBHOOK_SECRET=
